<%- include('./partials/header') %>

<%user.cart.forEach((item,index)=>{%>
<div class="w-full h-screen flex items-start px-20 py-20 gap-10">
    <div class="w-[30%] rounded-md overflow-hidden">
        <div class="w-full h-80 bg-[<%=item.bgcolor %>] flex items-center justify-center">
            <img class="h-[20rem] " src="data:image/jpeg;base64,<%=item.image.toString('base64')%>" alt="" >
        </div>
        <div class="w-full flex justify-between px-5 py-4 bg-[<%=item.panelcolor %>]">
            <h3 class="text-2xl"><%=item.name%></h3>
            <div class="flex items-center gap-2">
                <i class="w-7 h-7 bg-white flex rounded-full items-center justify-center ri-add-line cursor-pointer increment" data-index="<%= index %>"></i>
                <div class="px-2 py-1 rounded-md bg-white text-black counter" id="counter-<%= index %>" data-index="<%= index %>">
                    <%=(item.counter || 1).toString().padStart(2, '0') %>
                </div>
                <i class="w-7 h-7 bg-white flex rounded-full items-center justify-center ri-subtract-line cursor-pointer decrement" data-index="<%= index %>"></i>
            </div>
        </div>
        <div class="flex items-center justify-between px-5 py-3 bg-[<%=item.bgcolor %>]">
            <h4 class="text-lg">Net Total</h4>
            <h2 class="text-lg">₹ <%=item.price%></h2>
        </div>
    </div>
    <div class="w-[70%]">
        <h3 class="text-xl">Price Breakdown</h3>
        <div class="px-10 mt-5">
            <div class="flex mt-2">
                <h4 class="w-1/3">Total MRP</h4>
                <h4>₹ <%=item.price%></h4>
            </div>
            <div class="flex mt-2">
                <h4 class="w-1/3">Discount on MRP</h4>
                <h4>₹ <%=item.discount%>%</h4>
            </div>
            <div class="flex mt-2">
                <h4 class="w-1/3">Shipping Fee</h4>
                <h4>FREE</h4>
            </div>
        </div>
        <div class="w-full h-[1px] bg-black mt-10"></div>
        <div class="flex mt-5">
            <h3 class="w-1/3 text-xl">Total Amount</h3>
            <h3 class="font-semibold text-xl text-black-600 " id="countA-<%= index %>" data-index="<%=index%>">
                <% const bill = Number(item.price - item.price * item.discount / 100) %>
                <%const a=Number(bill * (item.counter || 1))%>
                ₹ <%= bill %> * 
                <span id="countValue-<%= index %>" ><%= (item.counter || 1).toString() %></span> =
                <h3 class="font-semibold text-xl text-green-600 ">
                    <span id="totalAmount-<%= index %>" data-price="<%= item.price %>" data-discount="<%= item.discount %>"> ₹ <%=a  %>.00</span>
                </h3>
                
            </h3>
            
        </div>
        <form action=""></form>
    </div>
</div>
<% })%>

<div class="w-full h-[1px] bg-black mt-2 mb-20">
    <div class="w-full flex justify-between px-24 pt-3 ">
        <h4 class="text-lg">Platform Fee</h4>
        <h4 class="text-lg">₹ 20</h4>
    </div>
    <div class="w-full flex justify-between px-20 py-5">
        <h2 class="font-bold italic text-xl">You need to pay</h2>
        
        <% const totalAmount = user.cart.reduce((acc, item) => acc + Number((item.price - item.price * item.discount / 100) * (item.counter || 1)), 0) %>
        <button id="totalPayable" class="font-bold text-xl bg-blue-900 text-white p-3 rounded-md">
            ₹ <%= totalAmount + 20 %>.00
        </button>
    </div>
    
</div>


<script src="/javascripts/cart.js">
  
</script>


<%- include('./partials/footer') %>
